.mainheader {
    background: url("../images/mainbg.jpg") no-repeat;
    background-size: cover;
    background-position: 0 0;
    padding-top: 115px;
    padding-bottom: 105px;
    border-top: 10px solid #009ce3;
}

.header__title {
    @include maintitle;
}

.header__subtitle {
    @include subtitle;
}

.header__text {
    @include headertext;
}

.contact-header {
    margin: 50px;
}

.header-cost {
    @include coupon;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%)translateY(-20%);
}

.menu {
    height: 132px;
}