.nav__link {
    @include menu;

    &:hover {
        @include changesize;
        color: #3c3c3c;
    }
}

.logospan {
    color: #3366cc;
}

.logotitle {
    color: #21a6ff;
    @include logo;
}

.nav__item {
    padding: 10px;
}