$red-color: #fa4a33;
$dark-color:#4070cf;
$blue-color:#0099ff;
$faq-color:#0d3693;
$darktitle:#3c3c3c;
$text-color:#4f4f4f;
//---------------- FONTS ----------------//

@font-face {
	font-family:'Source Sans Pro', sans-serif;
	src: url(../fonts/SourceSansPro-Regular.otf);
	font-weight:400;
}
@font-face {
	font-family:'Source Sans Pro', sans-serif;
	src: url(../fonts/SourceSansPro-Semibold.otf);
	font-weight:600;
}
@font-face {
	font-family:'Source Sans Pro', sans-serif;
	src: url(../fonts/SourceSansPro-Bold.otf);
	font-weight:700;
}
@font-face {
	font-family:'Montserrat', sans-serif;
	src: url(../fonts/Montserrat-Bold.otf);
	font-weight:700;
}
// --------------- MIXINS ---------------//

@mixin changesize {
	transition: all .1s ease;
	transform: scale(1.1);
}

@mixin btn {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: $red-color;
	border: none;
	color: white;
	font-size: 20px;
	font-weight:400;
	padding-left:41px;
	padding-right:41px;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:50px;
	cursor: pointer;
	display: inline-block;
	
	&:hover {
	@include changesize;
	}
}
@mixin txtdescr {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 700;
}

@mixin titleh {
	font-family:'Montserrat', sans-serif;
	font-size: 50px;
	font-weight: 700;
	color:$darktitle;
}

@mixin textaccord{
color:$text-color;
font-family: 'Source Sans Pro', sans-serif;
font-size:30px;
font-weight:700;
}

@mixin contentaccord{
color:$text-color;
font-family: 'Source Sans Pro', sans-serif;
font-size:19px;
font-weight:700;
}

@mixin maintitle{
color:#f8fcff;
font-family:'Montserrat', sans-serif;
font-size:80px;
font-weight:700;
}
@mixin subtitle{
color:#f8fcff;
font-family:'Source Sans Pro', sans-serif;
font-size:38px;
font-weight:600;
}

@mixin headertext{
color:white;
font-family:'Montserrat', sans-serif;
font-size:36px;
font-weight:700;
}
@mixin coupon {
color:$red-color;
font-family:'Montserrat', sans-serif;
font-size:50px;
font-weight:700;
}

@mixin menu{
color:$darktitle;
font-family:'Source Sans Pro', sans-serif;
font-size:20px;
font-weight:400;
}

@mixin logo{
font-family:'Montserrat', sans-serif;
font-size:36px;
font-weight:700;
}