$red-color: #fa4a33;
$dark-color:#4070cf;
$blue-color:#0099ff;
$faq-color:#0d3693;
$darktitle:#3c3c3c;
//---------------- FONTS ----------------//

@font-face {
	font-family:'Source Sans Pro', sans-serif;
	src: url(../fonts/SourceSansPro-Regular.otf);
}

// --------------- MIXINS ---------------//

@mixin changesize {
	transition: all .3s ease;
	transform: scale(1.1);
}

@mixin btn {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: $red-color;
	border: none;
	color: white;
	font-size: 20px;
	padding-left:41px;
	padding-right:41px;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:50px;
	cursor: pointer;
	display: inline-block;
	
	&:hover {
	@include changesize;
	}
}
